DEBUG=True
SECRET_KEY=replace-me
DJANGO_SETTINGS_MODULE=home_sweet_home.settings.local

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=home_sweet_home
POSTGRES_USER=home_sweet_home
POSTGRES_PASSWORD=home_sweet_home
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432
WEB_PORT=8000

DATABASE_URL=postgresql://home_sweet_home:home_sweet_home@db:5432/home_sweet_home
